---
layout: default
title:
subtitle: 
banner: "/assets/images/banners/2gt-yt-banner.png"
sidebar:
    - tag-list
---

<div style="display: flex; align-items: center; justify-content: space-between; padding-bottom: 20px;">
    <ul style="display: flex; gap: 10px; list-style: none; padding: 10, 10, 10 10; margin: 0;">
        <li><a href="https://www.youtube.com/2guystek" target="_blank"><img src="/assets/images/icons/yt.png"
                    alt="YouTube" width="100" height="100"></a></li>
        <li><a href="https://bsky.app/profile/2guystek.tv" target="_blank"><img src="/assets/images/icons/bs.png"
                    alt="Bluesky" width="100" height="100"></a></li>
        <li><a href="https://facebook.com/2guystek" target="_blank"><img src="/assets/images/icons/fb.png"
                    alt="Facebook" width="100" height="100"></a></li>
        <li><a href="https://www.instagram.com/2guystek/?hl=en" target="_blank"><img
                    src="/assets/images/icons/instagram.png" alt="Instagram" width="100" height="100"></a></li>
        <li><a href="mailto:contact@2guystek.com"><img src="/assets/images/icons/mail.png" alt="Email" width="100"
                    height="100"></a></li>
        <li><a href="https://homelabgear.shop/"><img src="/assets/images/icons/hlg-logo-grey.png" alt="HLG Logo"
                    width="100" height="100"></a></li>
        <li><a href="https://discord.com/invite/5TcfBWBB7S"><img src="/assets/images/icons/discord.svg" alt="Discord"
                    width="100" height="100"></a></li>
        <li><a href="https://2guystek.buzzsprout.com/"><img src="/assets/images/icons/buzz.png" alt="Buzz" width="100"
                    height="100"></a></li>
    </ul>
</div>

<div class="articles">
    {% if page.banner == nil %}
    {% assign banner = page.title %}
    {% endif %}

    {{ content }}

    {% include views/pagination.html %}
</div>